<f:layout name="Default" />
<f:section name="main">
    <f:if condition="{aError.0} == 0">
        <f:then>
            <f:if condition="{bShowShareIcons} == 1">
                <f:then>
                    <div class="tx-hive-cpt-cnt-share__wrapper">
                        <f:for each="{aHtml}" as="aProvider" key="index">
                            <f:if condition="{aProvider.active} == 1">
                                <f:then>
                                    <a href="{aProvider.href}" target="{aProvider.target}" class="tx-hive-cpt-cnt-share__a"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-echo="{aProvider.icon}" class="b-lazy opacity_0"></a>
                                    <noscript><a href="{aProvider.hrefNoscript}" target="{aProvider.target}" class="tx-hive-cpt-cnt-share__a tx-hive-cpt-cnt-share__a--noscript"><img src="{aProvider.icon}"></a></noscript>
                                </f:then>
                            </f:if>
                        </f:for>
                    </div>
                    <script type="text/javascript">
                      var tx_hive_cpt_cnt_share__title_ = document.querySelector('meta[property="og:title"]');
                      var tx_hive_cpt_cnt_share__title = encodeURI((tx_hive_cpt_cnt_share__title_ != null ? tx_hive_cpt_cnt_share__title_['content'] : ''));
                      var tx_hive_cpt_cnt_share__description_ = document.querySelector('meta[name="description"]');
                      var tx_hive_cpt_cnt_share__description = encodeURI((tx_hive_cpt_cnt_share__description_ != null ? tx_hive_cpt_cnt_share__description_['content'] : ''));
                      var tx_hive_cpt_cnt_share__as = document.getElementsByClassName("tx-hive-cpt-cnt-share__a");
                      if (tx_hive_cpt_cnt_share__as.length > 0) {
                        for (i = 0; i < tx_hive_cpt_cnt_share__as.length; i++) {
                          var tmpHref = tx_hive_cpt_cnt_share__as[i].getAttribute('href');
                          var newHref = tmpHref.replace("###TITLE###", tx_hive_cpt_cnt_share__title);
                          newHref = newHref.replace("###DESCRIPTION###", tx_hive_cpt_cnt_share__description);
                          tx_hive_cpt_cnt_share__as[i].setAttribute("href", newHref);
                          console.warn(tx_hive_cpt_cnt_share__as[i]);
                        }
                      }
                    </script>
                </f:then>
            </f:if>
        </f:then>
        <f:else>
            <div class="alert alert-danger" role="alert">
                <p><strong>Oops!</strong></p>
                <p>{aError.1}</p>
            </div>
        </f:else>
    </f:if>


</f:section>